.container{
    max-width: 120rem;
    margin:3rem auto;
    box-shadow: var(--shadow-dark);
    background-color: var(--color--light-2);
    //min-height: 50rem;
    border-radius: 2rem;
    //overflow: hidden;


    @media only screen and (max-width:$big-desktop){
        margin:0;
    }
}

.content{
    display:flex;

    @media only screen and (max-width:$tab-at-900){
        flex-direction: column;
    }
    

}

